---
import Layout from '../layouts/Layout.astro';
import Intro from '../components/AboutIntro.astro';
---

<Layout 
  title="About | Vidushan Chooriyakumaran"
  description="More about me."
>
  <main class="prose lg:prose-xl prose-headings:font-display">
    <h1>About</h1>

    <Intro />

    <a href="/an/resume.pdf">Résumé</a>

    <p>
      I have created this website to use it as a way to share knowledge and
      learnings about software engineering, as well as my hobbies.
    </p>

    <p>
      If you want to reach out, you can use any of these:
      <ul>
        <li>
          <a href="mailto:vidush@n-c.dev">Mail</a>
        </li>
        <li>
          <a href="https://linkedin.com/in/c-vidushan">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/vidjul">Github</a>
        </li>
        <li>
          <a href="https://myanimelist.net/profile/vidjul">
            MyAnimeList
          </a>{" "}
          <i>
            (Please note that this one should be used solely for sharing
            theories about Attack On Titan)
          </i>
        </li>
      </ul>
    </p>
  </main>
</Layout>
